#simplegeotag_map .gm_info_window {
	width:270px; 
	height:180px;
	overflow: hidden;
}
    
#simplegeotag_map .gm_info_window p{  
	font-size: 10px !important; 
	text-align: justify !important; 
	font-family:tahoma !important;
	color:#000 !important;
}

 
#simplegeotag_map .gm_info_window a{
	color: #f00 !important;   
}